@import "mocha.css";

* {
    animation-timing-function: steps(4);
    font-family: Meslo Nerd Font;
    font-size: 1em;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
}


.modules-right {
}
.modules-left {
}

#workspaces {
  border-radius: 0.5rem;
  margin: 0rem 0.5rem;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#network,
#custom-dropbox,
#temperature,
#language,
#power-profiles-daemon,
#custom-power,
#custom-suspend
{
    background-color: @surface0;
    padding: 0.5rem 1rem;
    margin: 0 0;
}

#clock {
    border-radius: 0 0 0.5rem 0;
    color: @blue;
}


#power-profiles-daemon {
    padding-left: 0.5rem;
}
#battery {
    margin-left: 1em;
    border-radius: 0 0 0 0.5rem;
    color: @green;
}
#temperature {
    border-radius: 0 0 0.5rem 0;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    border-radius: 0 0 0.5rem 0;
    color: @maroon;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#custom-lock {
    color: @lavender;
}

#custom-power {
    color: @red;
}

#tray {
    border-radius: 1rem;
}


#network {
    margin-left: 1em;
    border-radius: 0 0 0 0.5rem;
}

#custom-dropbox {
    border-radius: 0 0 0 0.5rem;
}

#custom-suspend {
    margin-left: 1em;
    border-radius: 0 0 0 1rem;
}
