@import "./colors/palette.css";

* {
    animation-timing-function: steps(4);
    font-family: Meslo Nerd Font;
    font-size: 1em;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: transparent;
    color: @text;
    padding-left: 1rem;
    padding-right: 1rem;
}


#group-actions,
#group-connectivity,
#group-power,
#group-sound,
#group-state,
#group-wiz,
#group-workspaces,
#group-guard {
    background-color: @surface0;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    border-radius: 1.5rem;
}

#group-actions *,
#group-connectivity *,
#group-power *,
#group-sound *,
#group-state *,
#group-wiz *,
#group-workspaces *,
#group-guard * {
    margin-left: 1em;
}

@import "./groups/actions/style.css";
@import "./groups/connectivity/style.css";
@import "./groups/power/style.css";
@import "./groups/sound/style.css";
@import "./groups/state/style.css";
@import "./groups/wiz/style.css";
@import "./groups/workspaces/style.css";
