@import "../../style.css";

#group-workspaces #workspaces.custom button.workspace-index-41,
#group-workspaces #workspaces.custom button.workspace-index-42,
#group-workspaces #workspaces.custom button.workspace-index-43,
#group-workspaces #workspaces.custom button.workspace-index-44,
#group-workspaces #workspaces.custom button.workspace-index-45,
#group-workspaces #workspaces.custom button.workspace-index-46,
#group-workspaces #workspaces.custom button.workspace-index-47,
#group-workspaces #workspaces.custom button.workspace-index-48,
#group-workspaces #workspaces.custom button.workspace-index-49,
#group-workspaces #workspaces.custom button.workspace-index-50 {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;

    min-width: 0;
    font-size: 0;
    opacity: 0;
}
