@import "../../style.css";

#group-workspaces,
#group-state,


#custom-profile {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
}


#group-workspaces #workspaces.custom button.focused.current_output {
    background-color: @blue;
}

#group-workspaces #workspaces.custom button:not(
    .workspace-index-41
):not(
    .workspace-index-42
):not(
    .workspace-index-43
):not(
    .workspace-index-44
):not(
    .workspace-index-45
):not(
    .workspace-index-46
):not(
    .workspace-index-47
):not(
    .workspace-index-48
):not(
    .workspace-index-49
):not(
    .workspace-index-50
) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
    font-size: 0;
    opacity: 0;
}
