@import "../../colors/palette.css";


#bluetooth {
    color: @text;
}
#bluetooth.disabled {
    color: @maroon;
}
#bluetooth.on {
    color: @sapphire;
}
#bluetooth.off {
    color: @subtext0;
}


#network {}
