@import "../../colors/palette.css";

#group-state {
}


#clock {}

#mode {
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: @peach;
    color: @base;
}
